.bag-body{
    font-family: Metropolis;
    position: relative;
    margin: 0;
    padding: 0;
  }




  #bag-title{
      font-weight: bold;
  }

  #section{
    width: 100vw;
}

.bag-summary{
    margin-left: 70vw;
}

