.layout{
  height: 100vh;
  width: 30vw;
}

.asideseller-width{
    width: 7vw;
}

.bg-purple{
  background-color: blueviolet;
}

.bg-orange{
  background-color: salmon;
}

.active{
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.asideseller{
  background-color: blueviolet;
}

.list{
  text-decoration: none;
  color: black;
  margin-left: 3vw;
}