@media screen and (max-width: 853px) {
    .btns{
        font-size: 12px;
        text-align: center;
    }
}

@media screen and (max-width: 853px) {
   #cart-button{
       position: relative;
       margin-top: 6vw;
       margin-right: 1vw;
       width:100%;
   }
}

@media screen and (max-width: 408px) {
    #cart-button{
        position: relative;
        margin-top: 17vw;
        margin-left: 20vw;
        padding-bottom:5vw;
    }
 }

 @media screen and (max-width: 414px) {
    #cart-button{
        position: relative;
        margin-top: 11vw;
        padding:0;
        margin-right:15vw;
    }
 }

