  .home-body{
    font-family: Metropolis;
    position: relative;
    margin: 0;
    padding: 0;
  }

.cards{
  display: flex;
  flex-flow: row wrap;
  position: relative;
}


@media screen and (max-width: 1037px) {
  .w-search{
    width: 30vw;
    margin-left: 1vw;
    margin-top: 0.5vw;
  }
  #search-border{
    margin-top:0.5vw;
  }
  .funnel{
    margin-right: 2vw;
  }

}


@media screen and (max-width: 853px) {
  .w-search{
    width: 30vw;
    margin-left: 1vw;
    margin-top: 0.5vw;
  }
  #search-border{
    margin-top:0.5vw;
  }
  .funnel{
    margin-right: 2vw;
  }
}


@media screen and (max-width: 853px) {
  .header-logo-nav{
    margin-left: 7vw;
    position: absolute;
  }

  .header-navbar{
    height: 20vw;
  }

  .header-search{
    margin-top:12vw;
    margin-left:5%;
    position:absolute;
  }
  #search-border{
    margin-top:0.5vw;
  }
}

@media screen and (max-width: 408px) {
  .header-logo-nav{
    margin-right: 15vw;
    margin-bottom: 10vw;
  }

  .search-input{
    width:55vw;
    margin-top: 20vw;
    margin-right: 50vw;
  }

  .header-navbar{
    height: 50vw;
    width:100%;
  }

  .header-search{
    padding-top: 20vw;
    padding:0;
  }

  #search-border{
    left: 15px;
    bottom:10vw;
  }

  .funnel{
    height:10vw;
    bottom: 11vw;
    left:20px;
  }
}

@media screen and (max-width: 414px) {
  .header-logo-nav{
    margin-right: 15vw;
    margin-bottom: 10vw;
  }

  .search-input{
    width:70vw;
    margin-top: 10vw;
    margin-right: 50vw;
  }

  .header-navbar{
    height: 42.5vw;
    width:100%;
  }

  .header-search{
    padding-top: 1vw;
    padding:0;
  }

  #search-border{
    right: 3px;
    bottom:8vw;
    border-radius: 20vw;
  }

  .funnel{
    height:8vw;
    bottom: 8.5vw;
    left:10px;
  }
}
