.navbaricons-img{
    width: 3vw;
}

.pointer{
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    #icons{
        position: relative;
        margin-top: 6vw;
        margin-right: 1vw;
        width:100%;
        padding-bottom:5vw;
    }
 }

 @media screen and (max-width: 408px) {
    #icons{
        position: relative;
        margin-top: 10vw;
        width:100%;
        padding-bottom:5vw;
    }
 }
