.product-body{
    font-family: Metropolis;
    position: relative;
    margin: 0;
    padding: 0;
  }

.product-image{
  top: 70vw;
}

.link{
  text-decoration: none;
  color: black;
}

.product_review-number{
  font-size: 70px;
}

.product_review-progress{
  width: 7vw;
}

.rating{
  transform: scale(.9, 3);
}

.margin{
  margin-top: 2.5vw;
}

.product-about{
  display: flex;
}

.product-photo{
  width: 410px;
  height: 410px;
  margin-right: 6vw;
}

.btn-buy-now{
  padding-left: 10vw;
  padding-right: 10vw;
}