.product-about{
    margin-left: 35vw;
    margin-top: -25%;
}

.product-about-width{
    width: 30%;
}

.product-about-width-15{
    width: 15%;
}

.product-about-width-63{
    width: 63%;
}

.blue{
    background-color: #0275d8;
}

#product-about-red{
    background-color: #DB3022;
    color: white;
}

.layout-about{
    padding-top: 9vh;
}